version: "3.9"

services:

  arches_db:
    container_name: arches_db
    image: postgis/postgis:14-3.2
    env_file:
      - ./.env
    environment:
      - PGUSER=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgis
      - POSTGRES_MULTIPLE_EXTENSIONS=postgis,postgis_topology
    restart: always
    volumes:
        - postgres-data:/var/lib/postgresql/data/
        - postgres-log:/var/log/postgresql
        - ./init-unix.sql:/docker-entrypoint-initdb.d/init.sql # to set up the DB template
        - ../arches_data/:/arches_data
    ports:
      - '5434:5432'
    logging:
      driver: "json-file"
      options:
        max-size: "10k"
        max-file: "10"
    networks:
      - afs_plocal_net

  arches_elasticsearch:
    container_name: arches_elasticsearch
    image: elasticsearch:8.5.3
    restart: always
    env_file:
      - ./.env
    environment:
      - TZ="${TZ}"
      - xpack.security.enabled=false
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms400m -Xmx400m"
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
    ports:
      - "9202:9200"
      - "9302:9300"
    logging:
      driver: "json-file"
      options:
        max-size: "10k"
        max-file: "10"
    networks:
      - afs_plocal_net

  arches_redis:
    container_name: arches_redis
    image: "redis:6-alpine"
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - "redisdata:/data"
    command: "redis-server"
    logging:
      driver: "json-file"
      options:
        max-size: "10k"
        max-file: "10"
    networks:
      - afs_plocal_net

  cantaloupe_afs_plocal:
    container_name: cantaloupe_afs_plocal
    image: uclalibrary/cantaloupe:5.0.3-0
    volumes:
      - cantaloupe_afs_plocal:/imageroot
    ports:
      - 8183:8182
    env_file:
    - ./.env
    networks:
    - afs_plocal_net

  arches:
    container_name: arches
    image: arches_afs
    env_file:
      - ./.env
    build:
      context: .
      dockerfile: arches/Dockerfile
      args:
        AFS_GIT_BRANCH: ${AFS_GIT_BRANCH}
        ARCHES_GIT_BRANCH: ${ARCHES_GIT_BRANCH}
        ARCHES_PROJECT: ${ARCHES_PROJECT}
        ALL_ARCHES_ROOT: ${ALL_ARCHES_ROOT}
        AFS_REPO: ${AFS_REPO}
        ARCHES_REPO: ${ARCHES_REPO}
        APP_ROOT: ${APP_ROOT}
        APP_COMP_FOLDER: ${APP_COMP_FOLDER}
        UPLOADED_FILES_FOLDER: ${UPLOADED_FILES_FOLDER}
    environment:
      - DEBUG="${DJANGO_DEBUG}"
      - ARCHES_PROJECT=${ARCHES_PROJECT}
    stdin_open: true # docker run -i
    tty: true        # docker run -t
    ports:
      - "5432:5432"
      - 8004:8000
      - 5678:5678
      - 5984:5984
    depends_on:
      - arches_db
      - arches_elasticsearch
      - arches_redis
    command:
      - run_arches
    expose:
      - 8004:8000
    volumes:
      - arches-log:/web_root/logs
      - arches-static:/static_root
      - ../arches_data/:/arches_data
      - cantaloupe_afs_plocal:${UPLOADED_FILES_FOLDER}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    networks:
      - afs_plocal_net

  arches_webpack:
    container_name: arches_webpack
    image: arches/arches_webpack
    build: ./webpack
    environment:
      COMPOSE_PROJECT_NAME: "${COMPOSE_PROJECT_NAME}"
      DJANGO_DEBUG: "${DJANGO_DEBUG}"
    deploy:
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 30
        window: 1200s
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./:/workdir:ro
    depends_on:
      - arches
    logging:
      driver: "json-file"
      options:
        max-size: "1k"
        max-file: "3"
    networks:
      - afs_plocal_net

networks:
  afs_plocal_net:
    driver: bridge
    name: afs_plocal_net

volumes:
  redisdata:
  couchdb-data:
  couchdb-log:
  postgres-data:
  postgres-log:
  elasticsearch-data:
  arches-log:
  arches-static:
  cantaloupe_afs_plocal:
